<ion-view hide-nav-bar="true" hide-back-button="true" view-title="home">
  <ion-content ng-controller="DashCtrl">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box big-red">
          <div class="description padding">
            Compared with the rest of the <i>United States</i>, you're doing
          </div>
          <div class="main-text">
            {{$storage["userResult"]}}
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box big-yellow">
          <div class="description padding">
            Compared with the rest of your <i>age group</i>, you're doing
          </div>
          <div class="main-text">
            {{$storage["userResultWithAge"]}}
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box big-blue">
          <div class="description padding">
            How does your progress stack up?
          </div>
          <div class="main-text">
           <div class="card">
             <div class="item item-text-wrap">
                 <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="{showTooltips: false}"></canvas>
             </div>
           </div>
         </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box big-blue">
          <div class="description padding">
            What's the quick fix?
          </div>
          <div class="main-text">
            {{$storage["recommendation"]}}
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box big-blue">
          <button class="button button-light button-large" ng-click="logout()">
          <i class="icon ion-log-out"></i>
          </button>
        </div>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
