<ion-view hide-nav-bar="true" hide-back-button="true" view-title="home">
  <ion-content ng-controller="DashCtrl">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">

      <ion-slide>
        <ng-include src="'templates/_country-measure.html'"></ng-include>
      </ion-slide>

      <ion-slide>
        <ng-include src="'templates/_age-measure.html'"></ng-include>
      </ion-slide>

      <ion-slide>
        <ng-include src="'templates/_personal-graph.html'"></ng-include>
      </ion-slide>

      <ion-slide>
        <ng-include src="'templates/_quick-fix.html'"></ng-include>
      </ion-slide>

      <ion-slide>
        <ng-include src="'templates/_logout.html'"></ng-include>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
