/* Empty. Add your own CSS if you like */
.big-blue {
  background-color: #00bfff;
}

.big-yellow {
  background-color: #FFEF00;
}

.big-red {
  background-color: #F51144;
}

.big-green {
  background-color: #77dd77;
}

.big-purple {
  background-color: #b19cd9;
}

.slider, .scroll, .box {
  height: 100%;
}

.slider {
  text-align: center;
}

.box {
  width: 100%;
  color: #FFFFFF;
}

.main-text, .recommendation {
  font-size: 4em;
  line-height: 1em;
}

.main-text, .description, .recommendation {
  font-weight: bold;
}

.main-text, .recommendation {
  vertical-align: middle;
}

.main-text {
  margin-top: 35%;
}

.description {
  text-align: left;
  width: 50%;
}

.recommendation {
  margin-top: 23%;
}

.button {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 70%;
}

.logo {
  position: absolute;
  top: 0px;
  right: 0px;
}

i {
  font-style: italic;
}